{%- assign current = page.lang | default: site.default_lang -%}
{%- assign others = site.languages | where_exp: "l", "l != current" -%}
{%- assign ordered = current | split: "," | concat: others -%}
{%- for lang in ordered -%}
  {%- capture href -%}{% include lang-url.html lang=lang %}{%- endcapture -%}
  {%- if include.as_menu -%}
<li><a data-lang="{{ lang }}" class="{% if lang == current %}active{% endif %}" {% static_href %}href="{{ href }}"{% endstatic_href %}>{{ lang | upcase }}</a></li>
  {%- else -%}
<a data-lang="{{ lang }}" class="page-link lang-link{% if lang == current %} active{% endif %}" {% static_href %}href="{{ href }}"{% endstatic_href %}>{{ lang | upcase }}</a>
  {%- endif -%}
{%- endfor -%}
